.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media screen and (max-width: 576px) {
        max-width: 100%;
    }
    @media screen and (min-width: 57.6rem) {
        max-width: 57.6rem;
    }
    @media screen and (min-width: 75.6rem) {
        max-width: 75.6rem;
    }
    @media screen and (min-width: 120.0rem) {
        max-width: 120rem;
    }
}